In [1]:
import pandas as pd
import  numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
%matplotlib inline

## Top 10 users

In [7]:
df_fs_top = pd.read_csv('fs_ny_t10_concat.csv', sep=";")
df_fs_top.head()

,new_tid,lat_lon,poi,root_type,label,type,day,time_discrete_label,time_bins,weather,...,day|time_discrete_label|weather|rating,day|time_bins|weather|rating,time_discrete_label|time_bins|weather|rating,type|day|time_discrete_label|time_bins|weather,type|day|time_discrete_label|time_bins|rating,type|day|time_discrete_label|weather|rating,type|day|time_bins|weather|rating,type|time_discrete_label|time_bins|weather|rating,day|time_discrete_label|time_bins|weather|rating,type|day|time_discrete_label|time_bins|weather|rating
0,0,40.9654169422336 -74.0628837642180,my bed,Nightlife Spot,185,Strip Club,Tuesday,afternoon,"(1050.0, 1080.0]",Clear,...,Tuesday|afternoon|Clear|-1.0,"Tuesday|(1050.0, 1080.0]|Clear|-1.0","afternoon|(1050.0, 1080.0]|Clear|-1.0","Strip Club|Tuesday|afternoon|(1050.0, 1080.0]|...","Strip Club|Tuesday|afternoon|(1050.0, 1080.0]|...",Strip Club|Tuesday|afternoon|Clear|-1.0,"Strip Club|Tuesday|(1050.0, 1080.0]|Clear|-1.0","Strip Club|afternoon|(1050.0, 1080.0]|Clear|-1.0","Tuesday|afternoon|(1050.0, 1080.0]|Clear|-1.0","Strip Club|Tuesday|afternoon|(1050.0, 1080.0]|..."
1,0,40.9653287788182 -74.0629239214116,nanas :),Food,185,American Restaurant,Tuesday,night,"(1080.0, 1110.0]",Clear,...,Tuesday|night|Clear|-1.0,"Tuesday|(1080.0, 1110.0]|Clear|-1.0","night|(1080.0, 1110.0]|Clear|-1.0","American Restaurant|Tuesday|night|(1080.0, 111...","American Restaurant|Tuesday|night|(1080.0, 111...",American Restaurant|Tuesday|night|Clear|-1.0,"American Restaurant|Tuesday|(1080.0, 1110.0]|C...","American Restaurant|night|(1080.0, 1110.0]|Cle...","Tuesday|night|(1080.0, 1110.0]|Clear|-1.0","American Restaurant|Tuesday|night|(1080.0, 111..."
2,0,40.9653550190346 -74.0628321335281,The Bush Hot Tub :),Outdoors & Recreation,185,Pool,Tuesday,night,"(1170.0, 1200.0]",Clear,...,Tuesday|night|Clear|-1.0,"Tuesday|(1170.0, 1200.0]|Clear|-1.0","night|(1170.0, 1200.0]|Clear|-1.0","Pool|Tuesday|night|(1170.0, 1200.0]|Clear","Pool|Tuesday|night|(1170.0, 1200.0]|-1.0",Pool|Tuesday|night|Clear|-1.0,"Pool|Tuesday|(1170.0, 1200.0]|Clear|-1.0","Pool|night|(1170.0, 1200.0]|Clear|-1.0","Tuesday|night|(1170.0, 1200.0]|Clear|-1.0","Pool|Tuesday|night|(1170.0, 1200.0]|Clear|-1.0"
3,0,40.9653379500000 -74.0628079000000,The Hang Out,Nightlife Spot,185,Other Nightlife,Tuesday,night,"(1260.0, 1290.0]",Clouds,...,Tuesday|night|Clouds|-1.0,"Tuesday|(1260.0, 1290.0]|Clouds|-1.0","night|(1260.0, 1290.0]|Clouds|-1.0","Other Nightlife|Tuesday|night|(1260.0, 1290.0]...","Other Nightlife|Tuesday|night|(1260.0, 1290.0]...",Other Nightlife|Tuesday|night|Clouds|-1.0,"Other Nightlife|Tuesday|(1260.0, 1290.0]|Cloud...","Other Nightlife|night|(1260.0, 1290.0]|Clouds|...","Tuesday|night|(1260.0, 1290.0]|Clouds|-1.0","Other Nightlife|Tuesday|night|(1260.0, 1290.0]..."
4,0,40.9653558300157 -74.0628550805032,The Bush Hideout,Nightlife Spot,185,Speakeasy,Tuesday,night,"(1290.0, 1320.0]",Clouds,...,Tuesday|night|Clouds|-1.0,"Tuesday|(1290.0, 1320.0]|Clouds|-1.0","night|(1290.0, 1320.0]|Clouds|-1.0","Speakeasy|Tuesday|night|(1290.0, 1320.0]|Clouds","Speakeasy|Tuesday|night|(1290.0, 1320.0]|-1.0",Speakeasy|Tuesday|night|Clouds|-1.0,"Speakeasy|Tuesday|(1290.0, 1320.0]|Clouds|-1.0","Speakeasy|night|(1290.0, 1320.0]|Clouds|-1.0","Tuesday|night|(1290.0, 1320.0]|Clouds|-1.0","Speakeasy|Tuesday|night|(1290.0, 1320.0]|Cloud..."

In [8]:
print(df_fs_top.groupby(['label']).nunique())

       new_tid  lat_lon  poi  root_type  label  type  day  \
label
185         42      171  139          8      1    76    7
293         41      166  128          8      1    55    7
315         40      166  115          8      1    72    7
349         31      702  588         10      1   187    7
354         36      449  384          9      1   102    7
372         31      359  327         10      1   128    7
689         35       11    9          5      1     8    7
730         30       32   19          8      1    15    7
885         32       74   50          9      1    36    7
943         34      191  176          8      1   102    7

       time_discrete_label  time_bins  weather  ...  \
label                                           ...
185                      4         48        6  ...
293                      4         46        6  ...
315                      4         47        5  ...
349                      4         41        5  ...
354                      4         45        5  ...
372                      4         42        5  ...
689                      4         14        5  ...
730                      4         13        6  ...
885                      4         41        6  ...
943                      4         47        6  ...

       day|time_discrete_label|weather|rating  day|time_bins|weather|rating  \
label
185                                       265                           870
293                                       337                           744
315                                       261                           642
349                                       520                           829
354                                       430                           851
372                                       353                           491
689                                       137                           145
730                                       162                           194
885                                       176                           387
943                                       285                           501

       time_discrete_label|time_bins|weather|rating  \
label
185                                             355
293                                             381
315                                             322
349                                             624
354                                             498
372                                             390
689                                              46
730                                              71
885                                             195
943                                             330

       type|day|time_discrete_label|time_bins|weather  \
label
185                                              1670
293                                              1160
315                                              1299
349                                              1147
354                                              1150
372                                               511
689                                               145
730                                               198
885                                               520
943                                               545

       type|day|time_discrete_label|time_bins|rating  \
label
185                                             1515
293                                              890
315                                             1177
349                                             1135
354                                             1049
372                                              505
689                                               57
730                                              108
885                                              423
943                                              495

       type|day|time_discrete_label|weather|rating  \
label
185                                           1002
293                                            661
315                                            781
349                                           1046
354                                            751
372                                            483
689                                            137
730                                            180
885                                            305
943                                            399

       type|day|time_bins|weather|rating  \
label
185                                 1676
293                                 1180
315                                 1312
349                                 1171
354                                 1184
372                                  525
689                                  145
730                                  213
885                                  520
943                                  550

       type|time_discrete_label|time_bins|weather|rating  \
label
185                                                 1181
293                                                  702
315                                                  913
349                                                 1095
354                                                  840
372                                                  489
689                                                   46
730                                                   75
885                                                  315
943                                                  432

       day|time_discrete_label|time_bins|weather|rating  \
label
185                                                 878
293                                                 746
315                                                 642
349                                                 830
354                                                 854
372                                                 491
689                                                 145
730                                                 194
885                                                 387
943                                                 502

       type|day|time_discrete_label|time_bins|weather|rating
label
185                                                 1678
293                                                 1182
315                                                 1312
349                                                 1171
354                                                 1185
372                                                  525
689                                                  145
730                                                  213
885                                                  520
943                                                  551

[10 rows x 68 columns]

In [9]:
print('Number of trajectories: ',df_fs_top['new_tid'].nunique())
print('Number of unique POIs: ',df_fs_top['poi'].nunique())
print('Number of unique POIs type: ',df_fs_top['type'].nunique())
print('Number of unique POIs root_type: ',df_fs_top['root_type'].nunique())
basic_stats(df_fs_top)
df_main_info(df_fs_top)

Number of trajectories:  352
Number of unique POIs:  1741
Number of unique POIs type:  310
Number of unique POIs root_type:  10

Basics:
Number of users:  10
Number of trajectories:  352
AVG number of trajectories per user is 35.20 with STD of 4.44
AVG trajectory length per user is 32.23 with STD of 15.46

More stats:
Number of users:  10
Number of trajectories:  352

Check-ins:
Min number of check-ins in an user:  568
Max number of check-ins in an user:  1952
Number of average check-ins per user 1171.500 with std of 598.203.
Number of unique POIs in the dataset:  310

Trajectories:
Min number of trajectories in an user:  30
Max number of trajectories in an user:  42
Number of average trajectories per user 35.200 with std of 4.442.

### Create sequence file format

In [11]:
dimension = 'type|day|time_discrete_label' #e.g.: 'type', 'type|day', 'type|time_discrete_label', type|time_bins', 'type|day|time_discrete_label', 'type|day|time_discrete_label|time_bins', ...
file = "preprocessed/fs_ny_t10_concat_"+dimension.replace('|','-')+".dat"
create_sequence_file_data(df_fs_top, file, dimension)

Processando DataFrame: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 11715/11715 [00:00<00:00, 53243.36it/s]

Number of sequences:  352
Process completed!

In [344]:
e = [10,14,18,15,17,15,13,15,12,16]
f = [110,120,125,115,130,115,120,115,125,120]
print(np.mean(e),np.std(e),np.var(e))
print(np.mean(f),np.std(f),np.var(f))

14.5 2.247220505424423 5.05
119.5 5.678908345800274 32.25

## Top 81 users

In [16]:
df_fs_81 = pd.read_csv('fs_ny_t81_concat.csv', sep=";")
print(df_fs_81['label'].nunique())
df_fs_81.head()

81

,new_tid,lat_lon,poi,root_type,label,day,type,rating,weather,time_bins,...,time_bins|day|weather,time_bins|day|rating,time_bins|weather|rating,day|weather|rating,type|time_bins|day|weather,type|time_bins|day|rating,type|time_bins|weather|rating,type|day|weather|rating,time_bins|day|weather|rating,type|time_bins|day|weather|rating
0,0,40.7421883084845 -73.9879241890915,Madison Square Park,Outdoors & Recreation,14,Tuesday,Park,9.6,Clear,"(1110.0, 1140.0]",...,"(1110.0, 1140.0]|Tuesday|Clear","(1110.0, 1140.0]|Tuesday|9.6","(1110.0, 1140.0]|Clear|9.6",Tuesday|Clear|9.6,"Park|(1110.0, 1140.0]|Tuesday|Clear","Park|(1110.0, 1140.0]|Tuesday|9.6","Park|(1110.0, 1140.0]|Clear|9.6",Park|Tuesday|Clear|9.6,"(1110.0, 1140.0]|Tuesday|Clear|9.6","Park|(1110.0, 1140.0]|Tuesday|Clear|9.6"
1,0,40.7421883084845 -73.9879241890915,Madison Square Park,Outdoors & Recreation,14,Wednesday,Park,9.6,Clouds,"(420.0, 450.0]",...,"(420.0, 450.0]|Wednesday|Clouds","(420.0, 450.0]|Wednesday|9.6","(420.0, 450.0]|Clouds|9.6",Wednesday|Clouds|9.6,"Park|(420.0, 450.0]|Wednesday|Clouds","Park|(420.0, 450.0]|Wednesday|9.6","Park|(420.0, 450.0]|Clouds|9.6",Park|Wednesday|Clouds|9.6,"(420.0, 450.0]|Wednesday|Clouds|9.6","Park|(420.0, 450.0]|Wednesday|Clouds|9.6"
2,0,40.7416730481413 -73.9742878438115,NYU Langone Medical Center,Professional & Other Places,14,Wednesday,Hospital,-1.0,Clear,"(570.0, 600.0]",...,"(570.0, 600.0]|Wednesday|Clear","(570.0, 600.0]|Wednesday|-1.0","(570.0, 600.0]|Clear|-1.0",Wednesday|Clear|-1.0,"Hospital|(570.0, 600.0]|Wednesday|Clear","Hospital|(570.0, 600.0]|Wednesday|-1.0","Hospital|(570.0, 600.0]|Clear|-1.0",Hospital|Wednesday|Clear|-1.0,"(570.0, 600.0]|Wednesday|Clear|-1.0","Hospital|(570.0, 600.0]|Wednesday|Clear|-1.0"
3,0,40.7421883084845 -73.9879241890915,Madison Square Park,Outdoors & Recreation,14,Wednesday,Park,9.6,Clear,"(930.0, 960.0]",...,"(930.0, 960.0]|Wednesday|Clear","(930.0, 960.0]|Wednesday|9.6","(930.0, 960.0]|Clear|9.6",Wednesday|Clear|9.6,"Park|(930.0, 960.0]|Wednesday|Clear","Park|(930.0, 960.0]|Wednesday|9.6","Park|(930.0, 960.0]|Clear|9.6",Park|Wednesday|Clear|9.6,"(930.0, 960.0]|Wednesday|Clear|9.6","Park|(930.0, 960.0]|Wednesday|Clear|9.6"
4,0,40.7421883084845 -73.9879241890915,Madison Square Park,Outdoors & Recreation,14,Thursday,Park,9.6,Clear,"(420.0, 450.0]",...,"(420.0, 450.0]|Thursday|Clear","(420.0, 450.0]|Thursday|9.6","(420.0, 450.0]|Clear|9.6",Thursday|Clear|9.6,"Park|(420.0, 450.0]|Thursday|Clear","Park|(420.0, 450.0]|Thursday|9.6","Park|(420.0, 450.0]|Clear|9.6",Park|Thursday|Clear|9.6,"(420.0, 450.0]|Thursday|Clear|9.6","Park|(420.0, 450.0]|Thursday|Clear|9.6"

In [52]:
# df_summary = create_df_map_traj_user(df_fs_81)

In [57]:
# print(df_summary.head())
# print(df_summary['User'].nunique())
# tmp = df_summary['User'].value_counts().to_dict()
# x = list(tmp.keys())
# y = list(tmp.values())
# top_81 = x[:81]

In [58]:
# df_fs_81 = df_fs_81[df_fs_81['label'].isin(top_81)]
# df_fs_81.reset_index(inplace=True,drop=True)
# # print(df_fs_81['label'].nunique())
# print(df_fs_81.head())

In [17]:
print('Number of trajectories: ',df_fs_81['new_tid'].nunique())
print('Number of unique POIs: ',df_fs_81['poi'].nunique())
print('Number of unique POIs type: ',df_fs_81['type'].nunique())
print('Number of unique POIs root_type: ',df_fs_81['root_type'].nunique())
basic_stats(df_fs_81)
df_main_info(df_fs_81)

Number of trajectories:  1749
Number of unique POIs:  6324
Number of unique POIs type:  437
Number of unique POIs root_type:  10

Basics:
Number of users:  81
Number of trajectories:  1749
AVG number of trajectories per user is 21.59 with STD of 6.09
AVG trajectory length per user is 22.81 with STD of 9.66

More stats:
Number of users:  81
Number of trajectories:  1749

Check-ins:
Min number of check-ins in an user:  202
Max number of check-ins in an user:  1952
Number of average check-ins per user 515.901 with std of 365.313.
Number of unique POIs in the dataset:  437

Trajectories:
Min number of trajectories in an user:  16
Max number of trajectories in an user:  42
Number of average trajectories per user 21.593 with std of 6.088.

In [20]:
dimension = 'type|time_bins' #e.g.: 'type', type|time_bins', 'type|day', 'type|time_bins|day', ...
file = "preprocessed/fs_ny_t81_concat_"+dimension.replace('|','-')+".dat"
create_sequence_file_data(df_fs_81, file, dimension)

Processando DataFrame: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 41788/41788 [00:00<00:00, 47425.03it/s]

Number of sequences:  1749
Process completed!

## Top 193 users

In [2]:
df_fs_193 = pd.read_csv('fs_ny_t193_concat.csv', sep=";")
print(df_fs_193['label'].nunique())
df_fs_193.head()

193

,new_tid,lat_lon,poi,root_type,label,day,type,rating,weather,time_bins,...,time_bins|day|weather,time_bins|day|rating,time_bins|weather|rating,day|weather|rating,type|time_bins|day|weather,type|time_bins|day|rating,type|time_bins|weather|rating,type|day|weather|rating,time_bins|day|weather|rating,type|time_bins|day|weather|rating
0,0,40.8331652006224 -73.9418603427692,The Lair Of Modern Strange Cowboy,Residence,6,Monday,Home (private),-1.0,Clear,"(300.0, 330.0]",...,"(300.0, 330.0]|Monday|Clear","(300.0, 330.0]|Monday|-1.0","(300.0, 330.0]|Clear|-1.0",Monday|Clear|-1.0,"Home (private)|(300.0, 330.0]|Monday|Clear","Home (private)|(300.0, 330.0]|Monday|-1.0","Home (private)|(300.0, 330.0]|Clear|-1.0",Home (private)|Monday|Clear|-1.0,"(300.0, 330.0]|Monday|Clear|-1.0","Home (private)|(300.0, 330.0]|Monday|Clear|-1.0"
1,0,40.8340978041072 -73.9452672225881,Galaxy Gourmet Deli,Food,6,Monday,Deli / Bodega,8.2,Clouds,"(1380.0, 1410.0]",...,"(1380.0, 1410.0]|Monday|Clouds","(1380.0, 1410.0]|Monday|8.2","(1380.0, 1410.0]|Clouds|8.2",Monday|Clouds|8.2,"Deli / Bodega|(1380.0, 1410.0]|Monday|Clouds","Deli / Bodega|(1380.0, 1410.0]|Monday|8.2","Deli / Bodega|(1380.0, 1410.0]|Clouds|8.2",Deli / Bodega|Monday|Clouds|8.2,"(1380.0, 1410.0]|Monday|Clouds|8.2","Deli / Bodega|(1380.0, 1410.0]|Monday|Clouds|8.2"
2,0,40.8331652006224 -73.9418603427692,The Lair Of Modern Strange Cowboy,Residence,6,Tuesday,Home (private),-1.0,Clouds,"(-0.001, 30.0]",...,"(-0.001, 30.0]|Tuesday|Clouds","(-0.001, 30.0]|Tuesday|-1.0","(-0.001, 30.0]|Clouds|-1.0",Tuesday|Clouds|-1.0,"Home (private)|(-0.001, 30.0]|Tuesday|Clouds","Home (private)|(-0.001, 30.0]|Tuesday|-1.0","Home (private)|(-0.001, 30.0]|Clouds|-1.0",Home (private)|Tuesday|Clouds|-1.0,"(-0.001, 30.0]|Tuesday|Clouds|-1.0","Home (private)|(-0.001, 30.0]|Tuesday|Clouds|-1.0"
3,0,40.7646959283254 -73.8851974964414,Popeyes Louisiana Kitchen,Food,6,Thursday,Fried Chicken Joint,6.6,Clear,"(1050.0, 1080.0]",...,"(1050.0, 1080.0]|Thursday|Clear","(1050.0, 1080.0]|Thursday|6.6","(1050.0, 1080.0]|Clear|6.6",Thursday|Clear|6.6,"Fried Chicken Joint|(1050.0, 1080.0]|Thursday|...","Fried Chicken Joint|(1050.0, 1080.0]|Thursday|6.6","Fried Chicken Joint|(1050.0, 1080.0]|Clear|6.6",Fried Chicken Joint|Thursday|Clear|6.6,"(1050.0, 1080.0]|Thursday|Clear|6.6","Fried Chicken Joint|(1050.0, 1080.0]|Thursday|..."
4,0,40.7660790376824 -73.8835287094116,MTA Bus Operations Depot - LaGuardia,Travel & Transport,6,Thursday,Bus Station,-1.0,Clear,"(1110.0, 1140.0]",...,"(1110.0, 1140.0]|Thursday|Clear","(1110.0, 1140.0]|Thursday|-1.0","(1110.0, 1140.0]|Clear|-1.0",Thursday|Clear|-1.0,"Bus Station|(1110.0, 1140.0]|Thursday|Clear","Bus Station|(1110.0, 1140.0]|Thursday|-1.0","Bus Station|(1110.0, 1140.0]|Clear|-1.0",Bus Station|Thursday|Clear|-1.0,"(1110.0, 1140.0]|Thursday|Clear|-1.0","Bus Station|(1110.0, 1140.0]|Thursday|Clear|-1.0"

In [8]:
df_summary = create_df_map_traj_user(df_fs_193)

In [23]:
print('Number of trajectories: ',df_fs_193['new_tid'].nunique())
print('Number of unique POIs: ',df_fs_193['poi'].nunique())
print('Number of unique POIs type: ',df_fs_193['type'].nunique())
print('Number of unique POIs root_type: ',df_fs_193['root_type'].nunique())
basic_stats(df_fs_193)
df_main_info(df_fs_193)

Number of trajectories:  3079
Number of unique POIs:  10808
Number of unique POIs type:  491
Number of unique POIs root_type:  10

Basics:
Number of users:  193
Number of trajectories:  3079
AVG number of trajectories per user is 15.95 with STD of 6.33
AVG trajectory length per user is 20.52 with STD of 8.06

More stats:
Number of users:  193
Number of trajectories:  3079

Check-ins:
Min number of check-ins in an user:  127
Max number of check-ins in an user:  1952
Number of average check-ins per user 346.870 with std of 284.283.
Number of unique POIs in the dataset:  491

Trajectories:
Min number of trajectories in an user:  10
Max number of trajectories in an user:  42
Number of average trajectories per user 15.953 with std of 6.334.

In [9]:
dimension = 'type|day' #e.g.: 'type', 'type|day', type|time_bins', 'type|time_bins|day', ...
file = "preprocessed/fs_ny_t193_concat_"+dimension.replace('|','-')+".dat"
create_sequence_file_data(df_fs_193, file, dimension)

Processando DataFrame: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 66946/66946 [00:01<00:00, 52407.84it/s]

Number of sequences:  3079
Process completed!

# tests

In [260]:
new_df_fs_yw = df_foursquare_yw.drop(columns=['checkin_id','venue_id','tid','lat_lon','split_year_week','time','rating',
                                             'price','day','weather','poi','root_type'])
print(new_df_fs_yw.head())
a = new_df_fs_yw.groupby(['label','new_tid'])
print(a.first())
# print(a.nunique()[0:20])
# print(a.nunique()[0:20].groupby('label').sum())
print(a.nunique())
# print(a.get_group(1)['new_tid'].nunique)
b = new_df_fs_yw.groupby(['label'])
b.nunique()

   new_tid                     type  label
0        0       Seafood Restaurant      1
1        0  New American Restaurant      1
2        0    General Entertainment      1
3        0      American Restaurant      1
4        1      American Restaurant      1
                               type
label new_tid
1     0          Seafood Restaurant
      1         American Restaurant
      2              Sandwich Place
      3                 Coffee Shop
      4                   Gift Shop
...                             ...
1083  30504                  Office
      30505                 Gay Bar
      30506                Bus Line
      30507    Gym / Fitness Center
      30508                  Office

[30511 rows x 1 columns]
               type
label new_tid
1     0           4
      1          12
      2          13
      3           3
      4           3
...             ...
1083  30504       1
      30505       4
      30506       6
      30507       2
      30508       1

[30511 rows x 1 columns]

       new_tid  type  label
label
1           18    46      1
2           24    63      1
3           27    55      1
4           39    49      1
5           19    25      1
...        ...   ...    ...
1079        21    34      1
1080        19    45      1
1081        10    29      1
1082        10    25      1
1083        40    63      1

[1083 rows x 3 columns]

# support methods

In [6]:
def create_sequence_file_data(df,pfile,dim):
    sequence = []
    past_tid = None
    curr_tid = None
    num_of_seqs = 0
#     f = open("data/real_application/foursquare_NY/fs_ny_week_sequences.dat", "w")
    f = open(pfile, "w")
    
    for i in tqdm(range(int(len(df))), colour='blue', desc='Processando DataFrame'):
        curr_tid = df.loc[i,"new_tid"]
        index = df.index[df.loc[i,"new_tid"]]
        
        if index == 0:
            sequence.append(str(df.loc[i,dim].replace(' ','_')))
            past_tid = curr_tid
        elif curr_tid == past_tid:
            sequence.append(str(df.loc[i,dim].replace(' ','_')))
        elif curr_tid != past_tid:
            tmp = ' '.join(sequence)
            tmp += '\n'
            f.write(tmp)
            num_of_seqs += 1
            sequence = []
            sequence.append(str(df.loc[i,dim].replace(' ','_')))
            past_tid = curr_tid
        
        if i == (len(df)-1):
            tmp = ' '.join(sequence)
            f.write(tmp)
            num_of_seqs += 1
            
    f.close()
    
#     for index, row in df.iterrows():
#         curr_tid = row["new_tid"]
            
#         if index == 0:
#             sequence.append(str(row["type"].replace(' ','_')))
#             past_tid = curr_tid
#         elif curr_tid == past_tid:
#             sequence.append(str(row["type"].replace(' ','_')))
#         elif curr_tid != past_tid:
#             tmp = ' '.join(sequence)
#             tmp += '\n'
#             f.write(tmp)
#             sequence = []
#             sequence.append(str(row["type"].replace(' ','_')))
#             past_tid = curr_tid
            
#     f.close()
    print('Number of sequences: ',num_of_seqs)
    print("Process completed!")

In [114]:
# basic_stats(df_fs_top)

In [5]:
def basic_stats(df):
    print('\nBasics:')
    num_of_users = df['label'].nunique()
    num_of_trajs = df['new_tid'].nunique()
    avg_trajs_per_user = df.groupby(['label']).nunique()['new_tid'].mean()
    std_trajs_per_user = df.groupby(['label']).nunique()['new_tid'].std()
    tmp = df.groupby(['label','new_tid'])
    avg_traj_len_per_user = tmp.count()['type'].groupby('label').mean().mean()
    std_traj_len_per_user = tmp.count()['type'].groupby('label').std().mean()
    
    
    print('Number of users: ',num_of_users)
    print('Number of trajectories: ',num_of_trajs)
    print('AVG number of trajectories per user is {:.2f} with STD of {:.2f}'.format(avg_trajs_per_user,std_trajs_per_user))
    print('AVG trajectory length per user is {:.2f} with STD of {:.2f}'.format(avg_traj_len_per_user,std_traj_len_per_user))

In [4]:
def df_main_info(df):
    print('\nMore stats:')
    print('Number of users: ',df['label'].nunique())
    print('Number of trajectories: ',df['new_tid'].nunique())
    
    print('\nCheck-ins:')
    # print(df_foursquare.groupby('label')['new_tid'].count())
    print('Min number of check-ins in an user: ',df.groupby('label')['new_tid'].count().min())
    print('Max number of check-ins in an user: ',df.groupby('label')['new_tid'].count().max())
    print('Number of average check-ins per user {:.3f} with std of {:.3f}.'.format(df.groupby('label')['new_tid'].count().mean(),
                                                                                   df.groupby('label')['new_tid'].count().std()))
    print('Number of unique POIs in the dataset: ',df['type'].nunique())

    print('\nTrajectories:')
    # print(df_foursquare.groupby('label')['new_tid'].nunique())
    print('Min number of trajectories in an user: ',df.groupby('label')['new_tid'].nunique().min())
    print('Max number of trajectories in an user: ',df.groupby('label')['new_tid'].nunique().max())
    print('Number of average trajectories per user {:.3f} with std of {:.3f}.'.format(df.groupby('label')['new_tid'].nunique().mean(),
                                                                                   df.groupby('label')['new_tid'].nunique().std()))

    # df_foursquare
    # print(df_foursquare[df_foursquare['label'==1]])
    # df_foursquare

In [3]:
# def create_df_map_traj_user(df):
def create_df_map_traj_user(df=pd.DataFrame):
    '''
    Method to support the calculation of the quality result.
    It returns a dataframe with the users and their trajectories with its respective length.
    '''
    try:
        #     df = pd.read_csv('data/real_application/foursquare_NY/fs_ny_top_users_10.csv', sep=";")
        df_map_traj_user = pd.DataFrame(columns=['Tid','Traj_length','User'])
        tids = []
        user = ''
        traj_length = 0

        sequence = []
        past_tid = None
        curr_tid = None
        num_of_seqs = 0
        map_element_id = 0
        unique_elements = {}
        map_id_to_element = {}

        for i in range(len(df)):
            curr_tid = df.loc[i,"new_tid"]
            if curr_tid not in tids:
                tids.append(int(curr_tid))
                user = int(df.loc[i,"label"])
                traj_length = len(df[df['new_tid'] == curr_tid])
                # append rows to an empty DataFrame
                df_map_traj_user = df_map_traj_user.append({'Tid' : curr_tid, 'Traj_length' : traj_length, 'User' : user},ignore_index = True)
        df_map_traj_user['Tid'] = df_map_traj_user['Tid'].astype(int, errors='ignore')
        df_map_traj_user['Traj_length'] = df_map_traj_user['Traj_length'].astype(int, errors='ignore')
        df_map_traj_user['User'] = df_map_traj_user['User'].astype(int, errors='ignore')

    #     print(df_map_traj_user.shape)
    #     print(df_map_traj_user.head())
    #     print('Todo DataFrame (traj_length):',' mean=',df_map_traj_user['Traj_length'].mean(),
    #           ' std=',df_map_traj_user['Traj_length'].std())
    #     u_185 = df_map_traj_user[df_map_traj_user['User']==185]
    #     print(u_185)
    #     print('User 185:',' mean=',u_185['Traj_length'].mean(),' std=',u_185['Traj_length'].std())
    #     df_map_traj_user.groupby(['label']).nunique()['new_tid'].mean()
        r = (df_map_traj_user.groupby(['User'])['Traj_length']
             .agg([np.count_nonzero,np.mean,np.std])
             .rename(columns={'count_nonzero':'Count_trajs',
                              'mean':'AVG_traj_length',
                              'std':'STD_traj_length'}))
    #     print('NÃºmero mÃ©dio de trajs por usuÃ¡rio = {:.2f} com DP = {:.2f}'.format(r['Count_trajs'].mean(),
    #                                                                        r['Count_trajs'].std()))
    #     print('Tamanho mÃ©dio das trajs por usuÃ¡rio = {:.2f} com DP mÃ©dio = {:.2f}'.format(r['AVG_traj_length'].mean(),
    #                                                                        r['STD_traj_length'].mean()))
        return df_map_traj_user
    except:
        raise('Please, check the input data format.')
        return None